@page "/projekt"

@inject HttpClient httpClient

<PageTitle>Kazoku Dev</PageTitle>

<h1>Projekt</h1>
<p>Här är en samling på alla våra projekt.</p>
<img src="https://http.cat/200" class="img-fluid" />