@inherits LayoutComponentBase

<PageTitle>Kazoku Dev</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
            <a href="https://kazoku.se/" target="_blank">Kazoku IT</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
