<AuthorizeView>
    <Authorized>
        @context.User.Identity?.Name!
        <a href="MicrosoftIdentity/Account/SignOut">Logga ut</a>
    </Authorized>
    <NotAuthorized>
        <a href="MicrosoftIdentity/Account/SignIn">Logga in</a>
    </NotAuthorized>
</AuthorizeView>
